body {
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.gallery {
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
    background-image: url('assets/images/back.jpg');
    background-position: center;
    background-size: cover;
}

.cards-container {
    display: flex;
    justify-content: center; /* Center elements horizontally */
    align-items: center; /* Center elements vertically */
    flex-wrap: nowrap; /* Prevent wrapping to the next line */
    overflow-x: auto; /* Allow horizontal scrolling if necessary */
    width: 100%;
    gap: 20px; /* Add gap between cards */
    padding: 20px;
    margin-top: 20px;
}

.card {
    flex: 0 0 auto; /* Prevent shrinking and growing */
    width: 200px;
    height: 300px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    transition: all 0.4s ease;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    background-size: contain; /* Keeps full image but smaller */
    background-repeat: no-repeat;
    background-position: center;
    align-items: center;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.4s ease;
    flex-shrink: 1; /* Prevents images from growing too much */
    max-width: 200px;
    max-height: 550px; 
}

.card:hover img {
    transform: scale(1.05);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}

.card-content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.9);
    color: black;
    padding: 10px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s;
}

.card:hover .card-content {
    opacity: 1;
}

/* Alternative Up and Down Effect */
.card.up {
    transform: translateY(-20px);
}

.card.down {
    transform: translateY(20px);
}

/* Remove the grayscale effect */
.gallery:hover .card:not(:hover) {
    filter: none;
}

.card:hover {
    transform: scale(1.1);
}
