body {
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.gallery {
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    /* margin-bottom: 20px; */
    background-image: url('../images/b6.jpg');
    background-position: center;
    background-size: cover;
}
.gallery h1{
    color: white;
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
}

.cards-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-wrap: nowrap;
    overflow-x: auto; 
    width: 100%;
    gap: 20px; 
    padding: 20px;
    margin-top: 20px;
}

.cards-container a {
    text-decoration: none; 
    color: inherit; 
    display: block; 
    text-align: center;
}

.cards-container a:hover {
    text-decoration: none; 
}

.card {
    flex: 0 0 auto; 
    width: 200px;
    height: 300px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    transition: all 0.4s ease;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    background-size: contain; 
    background-repeat: no-repeat;
    background-position: center;
    align-items: center;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.4s ease;
    flex-shrink: 1; 
    max-width: 200px;
    max-height: 550px; 
}

.card:hover img {
    transform: scale(1.05);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}

.card-content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(10, 10, 10, 0.9);
    color: rgb(250, 246, 246);
    /* padding: 10px; */
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s;
}

.card-content a {
    color: white; 
    text-decoration: none; 
}

.card-content a:hover {
    color: lightgray; 
    text-decoration: underline;
}

.card:hover .card-content {
    opacity: 1;
}


.card.up {
    transform: translateY(-20px);
}

.card.down {
    transform: translateY(20px);
}


.gallery:hover .card:not(:hover) {
    filter: none;
}

.card:hover {
    transform: scale(1.1);
}
.gold-text {
    color: yellow;
    font-weight: bold;
}

img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    object-fit: contain;
}

.horizontal-scroll {
    overflow-x: hidden; /* Hide any overflowing content */
    width: 100%; /* Occupy full width of the screen */
}

.icon-container {
    display: flex; /* Display icons in a row */
    animation: scrollAnimation 12s linear infinite; /* Adjust animation duration as needed */
    width: max-content; /* Make the container width fit its content */
}

.icon-container img {
    width: 80px; /* Adjust the width of icons as needed */
    background-color: white;
    height: 80px; /* Adjust the height of icons as needed */
    margin-right: 20px; /* Adjust margin between icons as needed */
}

@keyframes scrollAnimation {
    0% {
        transform: translateX(100vw); /* Start from the right edge of the viewport */
    }
    100% {
        transform: translateX(-100%); /* Move to the left edge */
    }
}