.container {
    position: fixed;
    overflow: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    scroll-behavior: smooth;
    height: 100%;
   
  }

  .header-row {
    background-color: grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    background-image: linear-gradient(to right, white ,grey, black);
    top: 0px;
   /* color: white; */
  
  }

  .header-row .box {
    padding: 10px;
  }

  .header-row li {
    display: inline;
    padding: 5px;
    font-size: larger;
    color: white;
  }

  .header-row a {
    text-decoration: none;
    color: white;
    font-size: larger;
  }

  .header-row a:hover {
    text-decoration: underline;
    color: lightgray;

  }

  .row {
    padding: 100px;
    height: 75%;
   
    background-image: url('../images/b6.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .row .box {
    padding: 20px;
    margin: 10px;
    color: white;
  }

  .footer {
    padding: 20px;
    margin: 0px;
    background-color: black;
    color: white;
    font-size: large;
  }

  button {
    background-color: teal;
    padding: 10px;
    color: white;
    border: none;
    border-radius: 10%;
  }

